body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  --color-primary-white: #ffffff;
  --color-primary-black: #150a01;
  --color-primary-grey: #989393;
  --color-secondary-grey: rgba(177, 177, 177, 0.21);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-width: 375px;
  height: 653px;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
}

h1,
h2 {
  margin: 0;
  text-align: center;
}

p {
  margin: 0;
}
